<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>taakmanager voor beginners</title>
</head>
<body>
<h1><a th:text="Home" href="/tasks"></a></h1>
<p th:if="${task} == null">Task not found</p>
<div th:unless="${task} == null">
    <p th:text="*{task.title}"></p>
    <p th:text="*{task.description}"></p>
    <p th:text="*{task.dueDateTime}"></p>
    <p>subtasks: </p>
    <table th:unless="${task.subtaskDTOs.size() == 0}">
        <thead>
        <tr>
            <th>naam</th>
            <th>tijd</th>
            <!--<th>link</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="subtask : ${task.subtaskDTOs}">
            <td th:text="*{subtask.title}"></td>
            <td th:text="*{subtask.dueDateTime}"></td>
            <!--<td><a th:href="@{/tasks/edit/{id}(id=*{task.id})}" th:text="edit"></a></td>
            <td><a th:href="@{/tasks/{id}(id=*{task.id})}" th:text="details"></a></td>-->
        </tr>
        </tbody>
    </table>
    <p th:if="${task.subtaskDTOs.size() == 0}">No subtasks yet</p>
</div>
<p><a th:href="@{/tasks/{id}/sub/create(id=*{task.id})}">create subtask</a></p>
</body>
</html>